In [13]:
# Print all elements of an array along with their index.
arr = [10, 20, 30, 40, 50]
for index, value in enumerate(arr):
    print(f"{index} : {value}")

0 : 10
1 : 20
2 : 30
3 : 40
4 : 50

In [12]:
# Print the array in reverse order without using [::-1]
arr = [10, 20, 30, 40, 50] 
for i in range(len(arr)-1, -1, -1):
    print(arr[i], end = " ")

50 40 30 20 10

In [3]:
# Find the sum and average of all elements in [2,4,6,8,10].
arr = [2, 4, 6, 8, 10]

arr_sum = 0
for i in arr:
    arr_sum += i

average = arr_sum / len(arr)

print("Sum:", arr_sum)
print("Average:", average)

Sum: 30
Average: 6.0

In [5]:
# Given an array [1,2,3,4], insert 5 at the end and print the new array.
arr = [1, 2, 3, 4]
arr.append(5)
print(arr)

[1, 2, 3, 4, 5]

In [6]:
# Insert 99 at index 2 in [10,20,30,40].
arr = [10, 20, 30, 40, 50]
arr[2] = 99
print(arr)

[10, 20, 99, 40, 50]

In [8]:
# Start with an empty array. Insert numbers 1 to 10 using a loop.
arr = []
for i in range(1, 11):
    arr.append(i)
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [11]:
# Insert multiple values [50,60,70] into [10,20,30,40] at index 2.
arr = [10, 20, 30, 40]
arr[2:2] = [50, 60, 70]
print(arr)

[10, 20, 50, 60, 70, 30, 40]
50

In [16]:
# Delete the element at index 3 from [5,10,15,20,25].
arr = [5, 10, 15, 20, 25]
arr.pop(3)
print(arr)

[5, 10, 15, 25]

In [19]:
# Delete the value 40 from [10,20,30,40,50].
arr = [10, 20, 30, 40, 50]
arr.remove(40)
print(arr)

[10, 20, 30, 50]

In [21]:
# Remove all duplicate elements from [1,2,2,3,4,4,5].
arr = [1, 2, 2, 3, 4, 4, 5]
new_arr = []

for num in arr:
    if num not in new_arr:   
        new_arr.append(num)

print(new_arr)

[1, 2, 3, 4, 5]

In [27]:
# Count how many times 2 appears in [1,2,2,2,3,4,5].
arr = [1, 2, 2, 2, 3, 4, 5]
number = 2
count = 0

for num in arr:
    if num == number:
        count += 1
print(count)

3

In [30]:
# Find the maximum and minimum elements in [3,7,2,9,5].
arr = [3, 7, 2, 9, 5]
min_value = max_value = arr[0]

for num in arr:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("Maximum:", max_value)
print("Minimum:", min_value)

Maximum: 9
Minimum: 2

In [1]:
# Change the value at index 1 of [100,200,300] to 500.
arr = [100, 200, 300]
arr[1] = 500
print(arr)

[100, 500, 300]

In [5]:
# Replace all negative numbers in [2, -4, 6, -8, 10] with 0.
arr = [2, -4, 6, -8, 10]
for i in range(len(arr)):
    if arr[i] < 0:
        arr[i] = 0

print(arr)

[2, 0, 6, 0, 10]

In [8]:
# Double every element in [1,2,3,4,5].
arr = [1, 2, 3, 4, 5]

for i in range(len(arr)):
    arr[i] = arr[i] * 2

print(arr)

[2, 4, 6, 8, 10]